/*------------------------- Layout styles ------------------------*/

html, body {
	height: 100%;
}
body {
	background-color: rgb(50, 50, 50);
	margin:0;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
a {
	outline:none;
}
a, a:focus, a:hover {
  color: #fff;
}
/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: .05rem solid #fff;
}

/*------------------------- Fonts ------------------------*/


/*-------------------- Base Page Layout -------------------*/
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}
.inner {
	padding: 2rem;
}

/*-------------------------- User -------------------------*/
div#logout-container {
	position: relative;
}
div#logout-pos {
	position: absolute;
	width: 250px;
	right: 0;
	top: 80px;
}

body form fieldset#logout{
	text-align: right;
}
body form fieldset#logout input{
	float: right;
}

body span#username {
	display: block;
	width: 99%;
	text-align: right;
	font-size: 1.25em;
	color: rgb(190, 190, 190);
}
body span#user {
	font-weight: bold;
	color: #FF00FF;
}

/*------------------------- Header ------------------------*/
.sls {
	margin-bottom: 2rem;
}

.sls-brand {
	margin-bottom: 0;
}

.nav-sls .nav-link {
	padding: .25rem 0;
	font-weight: bold;
	color: rgba(255,255,255,.5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-sls .nav-link:hover, .nav-sls .nav-link:focus {
	border-bottom-color: rgba(255,255,255,.25);
}

.nav-sls .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-sls .active {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 48em) {
	.sls-brand {
		float: left;
	}
	.nav-sls {
		float: right;
	}
}

/*------------------------- Footer ------------------------*/
footer {
	color: rgba(255,255,255,.5);
}


/*----------------------- Responsive ----------------------*/

@media (min-width: 40em) {
	
	/* Pull out the header and footer */
	.sls {
		position: fixed;
		top: 0;
	}
	footer {
		position: fixed;
		bottom: 0;
	}
	
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	
	/* Handle the widths */
	.sls, footer, .cover-container {
		width: 100%;
	}
}

@media (min-width: 62em) {
	.sls, footer, .cover-container {
		width: 42rem;
	}
}